@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MotleyForce";
  src: local("MotleyForce"),
   url("/public/MotleyForcesRegular.ttf") format("truetype");
  font-weight: bold;
 }
 

body {
  margin: 0;
  font-family: 'MotleyForce', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.track-horizontal {
  white-space: nowrap;
  will-change: transform;
  animation: marquee-horizontal 10s linear infinite;
  /* manipulate the speed of the marquee by changing "40s" line above*/
}

@keyframes marquee-horizontal {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}